@use 'src/scss/hljs.scss';

@import '@primer/css/support';
@import '@primer/css/avatars';
@import '@primer/css/alerts';
@import '@primer/css/base';
@import '@primer/css/box';
@import '@primer/css/buttons';
@import '@primer/css/header';
@import '@primer/css/labels';
@import '@primer/css/links';
@import '@primer/css/layout';
@import '@primer/css/pagination';
@import '@primer/css/markdown';
@import '@primer/css/utilities';

.markdown-body {
  p {
    line-height: 1.8;
  }

  figcaption p {
    text-align: center;
  }

  .flash {
    margin-bottom: 16px;
  }
}

/* Theming Google Custom Search Engine  */
.gsc-control-cse {
  background-color: var(--color-bg-primary) !important;
  border-color: var(--color-bg-primary) !important;
}
