---
import { queryAvailablePosts, queryChannels } from '@lib/query';
import type { CollectionEntry } from 'astro:content';
import ChannelNav from 'src/components/ChannelNav.astro';
import List from '../../layouts/List.astro';
import { urlize } from '../../libs/strings';

export async function getStaticPaths() {
  const posts = await queryAvailablePosts();
  const channels = queryChannels();

  return channels.map((channel) => {
    const matchPosts = posts.filter((post) => post.data.channels?.includes(channel.name));
    const urlizedName = urlize(channel.name);
    return {
      params: { channel: urlizedName },
      props: { channel: channel.name, posts: matchPosts },
    };
  });
}

type Props = {
  channel: string;
  posts: Array<CollectionEntry<'posts' | 'postsEn'>>;
};

const { channel, posts } = Astro.props;
---

<List posts={posts} feedUrl={`/channels/${urlize(channel)}.xml`}>
  <ChannelNav slot="title" activePath={`/channels/${urlize(channel)}`}>
    <a href={`/channels/${urlize(channel)}.xml`} title="RSS" target="_blank" class="flex text-tertiary p-2 rounded-md hover:text-secondary no-underline">
      <span class="icon-[material-symbols--rss-feed-rounded] text-[16px]"></span>
    </a>
  </ChannelNav>
</List>
