:host {
}

.button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  border-radius: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: rgba(220, 24, 24, 0.1);
  }
}

.likeCount {
  padding-left: 0.25em;
}
