/* GitHub-like colors */
:root {
  --color-syntax-highlight-comment: #6a737d;
  --color-syntax-highlight-literal: #005cc5;
  --color-syntax-highlight-entity: #6f42c1;
  --color-syntax-highlight-class-name: #24292e;
  --color-syntax-highlight-tag: #22863a;
  --color-syntax-highlight-keyword: #d73a49;
  --color-syntax-highlight-string: #032f62;
}

/* Theming */

code[class*='language-'],
pre[class*='language-'] {
  font-family: theme('fontFamily.mono');
  color: theme('textColor.default');
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--color-syntax-highlight-literal);
}

.token.string {
  color: var(--color-syntax-highlight-string);
}

.token.regex {
  color: var(--color-syntax-highlight-string);

  .token.regex-delimiter {
    color: var(--color-syntax-highlight-literal);
  }
}

.token.keyword,
.token.inserted {
  color: var(--color-syntax-highlight-keyword);
  font-weight: normal;
}

.token.class-name {
  color: var(--color-syntax-highlight-class-name);
}

.token.function {
  color: var(--color-syntax-highlight-entity);
}

.token.comment {
  color: var(--color-syntax-highlight-comment);
}

.token.tag {
  color: var(--color-syntax-highlight-tag);

  .token.punctuation {
    color: theme('textColor.default');
  }
}

.token.attr-name {
  color: var(--color-syntax-highlight-literal);
}

.token.attr-value {
  color: var(--color-syntax-highlight-string);
}

.token.selector {
  color: var(--color-syntax-highlight-literal);
}

/* json */
.language-json {
  .token.property {
    color: var(--color-syntax-highlight-string);
  }
}
