---
import { BulletedListNode } from '@lib/post';
import Content from './Content.astro';
import Text from './Text.astro';

type Props = BulletedListNode;

const { items } = Astro.props;
---

<ul>
  {
    items.map(({ text, children }) => (
      <li>
        {text.map((t) => (
          <Text {...t} />
        ))}
        <Content nodes={children} />
      </li>
    ))
  }
</ul>

<style></style>
