---
import { CodeNode } from '@lib/post';
import { Code as AstroCode } from 'astro/components';

type Props = CodeNode;

const { text, language, filename } = Astro.props;
---

<div class="py-2 mt-2 font-mono">
  {
    filename && (
      <span
        data-code-filename
        class="text-xs px-3 rounded-t-md bg-gray-100 border border-solid border-gray-500 shadow-2xl mb-[-16px] pt-1 pb-3"
      >
        {filename}
      </span>
    )
  }
  <AstroCode code={text} lang={language as any} />
</div>
