---
import { CodeNode } from '@lib/post';
import { Code } from 'astro/components';

type Props = CodeNode;

const { text, language, filename } = Astro.props;
---

<div class="py-2 font-mono">
  <Code code={text} lang={language as any} />
</div>
