---
import { DetailsNode } from '@lib/post';
import Content from './Content.astro';
import Text from './Text.astro';

type Props = DetailsNode;

const { text, children } = Astro.props;
---

<details>
  <summary class="text-base">{text.map((t) => <Text {...t} />)}</summary>
  <div class="px-4 text-base">
    <Content nodes={children} />
  </div>
</details>
