---
import { EmbedNode } from '@lib/post';

type Props = EmbedNode;

const { url } = Astro.props;
---

<div class="flex justify-center py-2">
  <iframe class="common-iframe" src={url} width="100%"></iframe>
</div>

<style>
  iframe {
    border: none;
    aspect-ratio: 4/3;
    max-width: 720px;
  }
</style>
