---
import { LinkPreviewNode } from '@lib/post';

type Props = LinkPreviewNode;

const { url } = Astro.props;
---

<div class="my-4 flex justify-center">
  <iframe class="border-none w-full" src={`/embed?url=${url}`} height="122"></iframe>
</div>
