---
import { LinkPreviewNode } from '@lib/post';

type Props = LinkPreviewNode;

const { url } = Astro.props;
---

<div class="py-2 flex justify-center">
  <iframe class="hatenablogcard border-none w-full" src={`https://hatenablog-parts.com/embed?url=${url}`} height="155">
  </iframe>
</div>
