---
import { LinkPreviewNode } from '@lib/post';

type Props = LinkPreviewNode;

const { url } = Astro.props;
---

<div class="py-2 flex justify-center">
  <iframe class="hatenablogcard w-full max-w-screen-md" src={`https://hatenablog-parts.com/embed?url=${url}`} height="150">
  </iframe>
</div>

<style>
  iframe {
    border: none;
    width: 100%;
    height: 155px;
    max-width: 680px;
  }
</style>
