---
import { type NumberedListNode } from '@lib/post';
import Content from './Content.astro';
import Text from './Text.astro';

type Props = NumberedListNode;

const { items } = Astro.props;
---

<ol class="">
  {
    items.map(({ text, children }) => (
      <li>
        {text.map((t) => (
          <Text {...t} />
        ))}
        <Content nodes={children} />
      </li>
    ))
  }
</ol>

<style></style>
