---
import { StackblitzNode } from '@lib/post';

type Props = StackblitzNode;

const { url } = Astro.props;
---

<div class="my-4 flex justify-center">
  <iframe class="stackblitz-iframe" src={url} loading="lazy"></iframe>
</div>

<style>
  iframe {
    border: none;
    width: 100%;
    aspect-ratio: 16/9;
  }
</style>
