<!DOCTYPE html>
<html>
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body>
    <header class="bg-header">
      <div class="container mx-auto px-4">
        {{- partial "header.html" . -}}
      </div>
    </header>
    <main>
      <div class="container mx-auto px-4 py-4">
      {{- block "main" . }}{{- end }}
      </div>
    </main>

    <footer>
      <div class="container mx-auto px-4 py-4">
        {{- partial "footer.html" . -}}
      </div>
    </footer>

    {{- partial "body-scripts.html" . -}}
  </body>
</html>
