{{ define "main" -}}

<div class="pagehead">
    {{ if .Data.Term }}
    <h1 class="leading-none text-xl">Articles with #{{ .Data.Term }}</h1>
    {{ else }}
    {{ end }}
</div>

<div class="mb-2 google-search-box h-[64px]">
    <div class="gcse-search"></div>
</div>

<div>
    <ul class="list-none">
        {{ range .Paginator.Pages -}}
        <li class="pb-6 border-solid border-transparent">
            <div class="flex-auto min-w-0 leading-tight">
                <div class="flex flex-col items-start gap-y-1">
                    <a class="text-xl text-default font-bold no-underline" href="{{ .RelPermalink }}">{{ .Title | markdownify | emojify }}</a>
                    <div class="flex flex-row items-center gap-x-2">
                        <span class="text-xs text-muted align-middle">{{ .Date.Format "2006-01-02" }}</span>
                    </div>
                    <div class="text-sm text-muted leading-normal markdown-body">
                        {{ .Summary | markdownify | emojify }}
                    </div>
                </div>

            </div>
        </li>
        {{ end -}}
    </ul>
</div>

{{ end -}}