{{ define "main" -}}

<div class="pagehead">
    {{ if .Data.Term }}
    <h1>Articles with #{{ .Data.Term }}</h1>
    {{ else }}
    <h1>Articles</h1>
    {{ end }}
</div>

<div class="mb-2 google-search-box h-[64px]">
    <div class="gcse-search"></div>
</div>

<div>
    <ul class="list-none space-y-2">
        {{ range .Paginator.Pages -}}
        <li class="pb-2 border-solid border-transparent border-b-default">
            <div class="flex-auto min-w-0 leading-tight">
                <div class="flex flex-row flex-wrap items-center space-x-1">
                    <a class="text-base text-default font-semibold no-underline" href="{{ .RelPermalink }}">{{ .Title | markdownify | emojify}}</a>
                    {{ range .Params.tags -}}
                    {{ partial "tag.html" . -}}
                    {{ end -}}
                </div>
                <div class="mt-1 text-xs text-muted">
                    <span class="align-middle">{{ .Date.Format "2006-01-02" }}</span>
                </div>
            </div>
        </li>
        {{ end -}}
    </ul>
</div>

{{ end -}}