{{ define "main" }}

<article class="">
  <header class="mb-4">
    <div class="meta">
      {{ if .Date -}}
      <span class="text-small text-gray">{{ .Date.Format "2006-01-02" }}</span>
        {{ if $.Params.updated_at -}}
        <span class="text-small text-gray">(Updated at: {{ (time .Params.updated_at).Format "2006-01-02" }})</span>
        {{ end -}}
      {{ end -}}
      {{ if .Params.tags -}}
      {{ end -}}
    </div>

    <div class="pagehead">
      <h1>{{ .Title | markdownify | emojify }}</h1>
    </div>

    <div>
      {{ range .Params.tags -}}
      {{ partial "tag.html" . -}}
      {{ end -}}
    </div>
  </header>

  {{ $LastUpdatedAt := (cond (ne .Params.updated_at nil) (time .Params.updated_at) .Date) -}}
  {{ if ($LastUpdatedAt.AddDate 1 0 0).Before now }}
  <div class="mb-4 flash flash-warn">
    This post is possibly out of date.
  </div>
  {{ end }}

  <main class="markdown-body">
    {{ .Content }}
  </main>

  <section class="mt-4 d-flex flex-justify-between flex-content-center">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
      data-show-count="false">Tweet</a>
    <script async crossorigin="anonymous" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <span class="flex-auto"></span>
    <button class="btn btn-sm" onclick="window.scrollTo(0, 0);">Scroll to top</button>
  </section>

  <section class="mt-2">
    {{ template "_internal/disqus.html" . }}
  </section>

</article>
{{ end }}
