---
import { queryListPagePosts, queryTags, type PostWithTranslations } from '@lib/query';
import List from '../../layouts/List.astro';
import { urlize } from '../../libs/strings';

export async function getStaticPaths() {
  const posts = await queryListPagePosts();
  const tags = await queryTags();

  return tags.map((tag) => {
    const matchPosts = posts.filter((item) => {
      return item.post.data.tags?.includes(tag.name);
    });
    const urlizedName = urlize(tag.name);
    return {
      params: { tag: urlizedName },
      props: { tag: tag.name, posts: matchPosts },
    };
  });
}

type Props = {
  tag: string;
  posts: PostWithTranslations[];
};

const { tag, posts } = Astro.props;
---

<List posts={posts} feedUrl={`/tags/${urlize(tag)}.xml`}>
  <h1 slot="title" class="leading-none text-2xl font-semibold pt-3 lg:pt-5 lg:pb-2">#{tag}</h1>
</List>
