---
import { queryAvailablePosts } from '@lib/query';
import ChannelNav from 'src/components/ChannelNav.astro';
import List from '../layouts/List.astro';

const posts = await queryAvailablePosts();
---

<List posts={posts} feedUrl="/index.xml" showChannels>
  <ChannelNav slot="title" activePath="/">
    <a href="/index.xml" title="RSS" target="_blank" class="flex text-tertiary p-2 rounded-md hover:text-secondary no-underline">
      <span class="icon-[material-symbols--rss-feed-rounded] text-[16px]"></span>
    </a>
  </ChannelNav>
</List>
