---
import { SITE_COPYRIGHT } from '../consts';

type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<footer class="max-w-screen-lg mx-[2rem] lg:mx-auto" class:list={className}>
  <div
    class="flex flex-col items-center justify-between pt-[32px] pb-[8px] text-sm text-default border-transparent border-solid border-t-default"
  >
    <span>{SITE_COPYRIGHT}</span>
  </div>
</footer>
