---
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

type Props = {
  class?: string;
  showDescription?: boolean;
};

const { class: className, showDescription } = Astro.props;
---

<header
  class="max-w-screen-lg mx-[2rem] lg:mx-auto flex flex-col gap-y-3 pt-3 pb-3 has-[[data-description]]:pb-6"
  class:list={className}
>
  <div class="w-full grid grid-cols-[1fr_auto_1fr] items-center">
    <div></div>
    <div>
      <a
        href="/"
        class="font-title text-center text-2xl font-semibold text-default hover:text-default-muted hover:underline"
      >
        {SITE_TITLE}
      </a>
    </div>
    <div class="flex flex-row items-center justify-end gap-x-4 text-sm font-semibold">
      <div class="flex items-center">
        <a href="/tags/" class="text-default hover:text-default-muted hover:no-underline" title="tags">Tags</a>
      </div>
      <div class="flex items-center">
        <a href="/index.xml" class="text-default hover:text-default-muted hover:no-underline" title="RSS feed">RSS</a>
      </div>
      <div class="flex items-center">
        <a href="https://lacolaco.net" target="_blank" rel="noopener" title="profile">
          <img
            class="rounded-full border border-solid border-gray-400 block"
            src="/icons/laco.png"
            height="32"
            width="32"
          />
        </a>
      </div>
    </div>
  </div>
  {
    showDescription && (
      <div class="w-full font-title flex flex-col items-center">
        <p data-description class="text-center text-xs text-default-muted">
          {SITE_DESCRIPTION}
        </p>
      </div>
    )
  }
</header>
