---
type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<main
  class="max-w-screen-lg mx-[2rem] lg:mx-auto px-[1.5rem] md:px-[3rem] bg-white rounded-lg shadow-lg"
  class:list={className}
>
  <slot />
</main>
