---
type Props = {
  class?: string;
};

const { class: className } = Astro.props;
---

<main
  class="max-w-(--breakpoint-lg) mx-0 md:mx-[1rem] lg:mx-auto px-4 lg:px-16 bg-white rounded-none md:rounded-lg shadow-none md:shadow-lg"
  class:list={className}
>
  <slot />
</main>
