---
type Props = {
  class?: string;
};

const { class: className } = Astro.props;

const mainClass = 'max-w-(--breakpoint-lg) mx-auto px-4 lg:px-10';
---

<main class:list={[mainClass, className]}>
  <slot />
</main>
