---
export interface Props {
  type: 'info' | 'warn';
}

const { type } = Astro.props;
---

{
  (() => {
    switch (type) {
      case 'info':
        return (
          <div class="mb-4 flash bg-blue-100/30 border-blue-500">
            <slot />
          </div>
        );
      case 'warn':
        return (
          <div class="mb-4 flash bg-yellow-100/30 border-yellow-500">
            <slot />
          </div>
        );
    }
  })()
}
