---
import Tag from './Tag.astro';

export interface Props {
  tags: string[];
}

const { tags } = Astro.props;
const sortedTags = [...tags].sort();
---

<div class="flex flex-row flex-wrap gap-2">
  {sortedTags.map((tag) => <Tag name={tag} />)}
</div>
