{{ $js := resources.Get "js/main.js" | resources.Fingerprint}}
<script src="{{ $js.RelPermalink }}"></script>

<script async src="https://cse.google.com/cse.js?cx=016749829816792588257:vx30glhznqb"></script>

{{- if .HasShortcode "mermaid" }}
<script type="module">
import mermaid from '/vendor/mermaid/dist/mermaid.esm.min.mjs';
document.addEventListener('DOMContentLoaded', function () {
    mermaid.initialize();
});
</script>
{{- end }}

{{- if .HasShortcode "katex" }}
<script type="module">
import renderMathInElement from '/vendor/katex/dist/contrib/auto-render.mjs';
document.addEventListener('DOMContentLoaded', function () {
    renderMathInElement(document.body, {
        delimiters: [
            { left: '$$', right: '$$', display: true }, // block
            { left: '$', right: '$', display: false }, // inline
        ],
    });
});
</script>
{{- end }}