<div class="flex flex-row items-center gap-x-4 text-sm py-4 z-30">
  <div class="flex items-center">
    <a
      href="{{ .Site.BaseURL }}"
      class="font-bold text-header text-base flex items-center hover:text-header-muted hover:no-underline"
    >
      <span>{{ .Site.Title }}</span>
    </a>
  </div>

  <div class="flex items-center flex-auto"></div>
  <div class="flex items-center">
    <a href="/tags/" class="font-semibold text-header hover:text-header-muted hover:no-underline">Tags</a>
  </div>
  <div class="flex items-center">
    <a href="/index.xml" class="font-semibold text-header hover:text-header-muted hover:no-underline">RSS</a>
  </div>
  <div class="flex items-center">
    <a href="https://lacolaco.net" target="_blank" rel="noopener">
      <img
        class="rounded shadow block"
        src="/img/icon.png"
        height="24"
        width="24"
      />
    </a>
  </div>
</div>
