<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>{{ .Title }}</title>
<link href="/css/styles.css" rel="stylesheet" />

<link rel="stylesheet" href="/vendor/highlight/styles/vs.css" />
<script src="/vendor/highlight/highlight.pack.js"></script>
<script src="/vendor/anchorjs-4.2.2/anchor.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();

  window.addEventListener("DOMContentLoaded", function() {
    anchors.add(
      ".markdown-body > h2, .markdown-body > h3, .markdown-body > h4"
    );
  });
</script>
