<div class="Header">
  <div class="Header-item">
    <a
      href="{{ .Site.BaseURL }}"
      class="Header-link f4 d-flex flex-items-center"
    >
      <span>{{ .Site.Title }}</span>
    </a>
  </div>

  <div class="Header-item Header-item--full"></div>
  <div class="Header-item">
    <a href="/tags/" class="Header-link">Tags</a>
  </div>
  <div class="Header-item">
    <a href="/index.xml" class="Header-link">RSS</a>
  </div>
  <div class="Header-item mr-0">
    <a href="https://lacolaco.net" target="_blank" rel="noopener">
      <img
        class="avatar"
        src="/img/icon.png"
        height="24"
        width="24"
      />
    </a>
  </div>
</div>
