<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{ $title := $.Site.Title }}
{{ if .IsHome }}
{{ $title = $.Site.Title }}
{{ else if eq .Kind "page" }}
{{ $title = printf "%s | %s" .Title $.Site.Title }}
{{ else if eq .Kind "taxonomy" }}
{{ $title = printf "Articles with #%s | %s" .Title $.Site.Title }}
{{ else if eq .Kind "taxonomyTerm" }}
{{ $title = printf "%s | %s" .Title $.Site.Title }}
{{ end }}
<title>{{ $title | emojify }}</title>

{{ template "_internal/opengraph.html" . }}
<meta name="twitter:card" content="summary"></meta>
{{ template "_internal/google_analytics_async.html" . }}

<link rel="stylesheet" href="/vendor/katex/dist/katex.min.css" />
<link rel="stylesheet" href="/vendor/prismjs/plugins/toolbar/prism-toolbar.css" />

{{ $style := resources.Get "css/styles.css" | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
