<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{{ $title := $.Site.Title }}
{{ if .IsHome }}
{{ $title = $.Site.Title }}
{{ else if eq .Kind "page" }}
{{ $title = printf "%s | %s" .Title $.Site.Title }}
{{ else if eq .Kind "taxonomy" }}
{{ $title = printf "Articles with #%s | %s" .Title $.Site.Title }}
{{ else if eq .Kind "taxonomyTerm" }}
{{ $title = printf "%s | %s" .Title $.Site.Title }}
{{ end }}
<title>{{ $title | emojify }}</title>

{{ template "_internal/opengraph.html" . }}
<meta name="twitter:card" content="summary"></meta>
{{ template "_internal/google_analytics.html" . }}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap" rel="stylesheet">


{{- if .HasShortcode "katex" }}
<link rel="stylesheet" href="/vendor/katex/dist/katex.min.css" />
{{- end }}

<link rel="stylesheet" href="/vendor/prismjs/plugins/toolbar/prism-toolbar.css" />

{{ $style := resources.Get "css/styles.css" | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

{{ if .Params.canonicalUrl }}
<link rel="canonical" href="{{ .Params.canonicalUrl }}">
{{ end }}


