{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<nav class="paginate-container" aria-label="Pagination">
    <div class="pagination">
        <a class="previous_page" aria-disabled="{{ cond $pag.HasPrev false true }}" {{ if $pag.HasPrev }} href="{{ $pag.Prev.URL }}" {{ end }}>Previous</a>
        {{ range $pag.Pagers }}
        <a href="{{ .URL }}" {{ if eq . $pag }} aria-current="page"{{ end }}>{{ .PageNumber }}</a>
        {{ end }}
        <a class="next_page" rel="next" aria-disabled="{{ cond $pag.HasNext false true }}" {{ if $pag.HasNext }} href="{{ $pag.Next.URL }}" {{ end }}>Next</a>
    </div>
</nav>
{{ end }}