@import 'styles/syntax-highlight';
@import 'styles/markdown';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* TODO: migrate to tailwindcss components */
@import '@primer/css/dist/support';
@import '@primer/css/dist/color-modes';
@import '@primer/css/dist/base';
@import '@primer/css/dist/box';
@import '@primer/css/dist/buttons';
@import '@primer/css/dist/labels';
@import '@primer/css/dist/links';
@import '@primer/css/dist/layout';
@import '@primer/css/dist/pagination';
@import '@primer/css/dist/markdown';
@import '@primer/css/dist/utilities';

/* Theming Google Custom Search Engine  */
.google-search-box {
  .gsc-control-cse {
    background-color: var(--color-canvas-default);
    border-color: var(--color-canvas-default);
    padding: 1em 0;

    input {
      color: var(--color-canvas-default);
    }
  }
}
