/* TODO: migrate to tailwindcss */
@import '@primer/css/dist/base';
@import 'tailwindcss/base';
@import 'styles/theme.css';

@import '@primer/css/dist/markdown';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'styles/syntax-highlight.css';

/* Theming Google Custom Search Engine  */
.google-search-box {
  .gsc-control-cse {
    background-color: transparent;
    border-color: transparent;
    padding: 1em 0;

    input {
      color: theme('colors.black');
    }
  }
}
