---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Tag from '../components/Tag.astro';
import { SITE_TITLE } from '../consts';

type Tag = {
  name: string;
  usedCount: number;
};

type Props = {
  tags: Tag[];
};

const { tags } = Astro.props;
const sortedTags = tags.sort((a, b) => b.usedCount - a.usedCount);
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={''} />
  </head>

  <body>
    <Header class="container" />

    <main class="container py-4">
      <div class="mb-4">
        <h1 class="text-2xl font-bold">Tags</h1>
      </div>

      <ul class="list-none flex flex-wrap">
        {
          sortedTags.map((tag) => (
            <li class="mr-2 mb-2">
              <Tag name={tag.name} count={tag.usedCount} />
            </li>
          ))
        }
      </ul>
    </main>
    <Footer class="container py-4" />
  </body>
</html>
