---
import MainContainer from 'src/components/MainContainer.astro';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Tag from '../components/Tag.astro';
import { SITE_TITLE } from '../consts';

type TagWithCount = {
  name: string;
  usedCount: number;
};

type Props = {
  tags: TagWithCount[];
};

const { tags } = Astro.props;
const sortedTags = tags.sort((a, b) => a.name.localeCompare(b.name));
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={''} />
  </head>

  <body class="font-base bg-default">
    <Header showDescription />

    <MainContainer>
      <div class="py-8">
        <div class="mb-4">
          <h1 class="text-2xl font-bold">Tags</h1>
        </div>

        <ul class="list-none grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2">
          {
            sortedTags.map((tag) => (
              <li class="">
                <Tag name={tag.name} count={tag.usedCount} />
              </li>
            ))
          }
        </ul>
      </div>
    </MainContainer>

    <Footer />
  </body>
</html>
