name: trigger-sync-from-pr-comment

on:
  issue_comment:
    types: [created]

jobs:
  trigger-sync:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      issues: write
      checks: read
      actions: write
    steps:
      - uses: github/command@3442f3fa1efe01bdb024b157083c337902d17372 # v2.0.3
        id: command
        with:
          command: '.sync'
          allowed_contexts: pull_request
          reaction: 'eyes'
          skip_ci: true
          github_token: ${{ secrets.GITHUB_TOKEN }}
          allowlist: lacolaco
      - name: Trigger Workflow
        if: ${{ steps.command.outputs.continue == 'true' }}
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'sync-with-notion.yml',
              ref: 'main',
              inputs: {
                forceUpdate: 'false'
              }
            })
